@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  font-size 62.5%
  margin 0
  padding 0
  box-sizing border-box

h1
    font-size: 6rem;
    font-weight: 700;

p
    font-size 2.4rem;

li
    font-size: 3rem;

body
  font-family 'Source Code Pro', monospace

.header
  background url('https://static2.paizo.com/image/content/Secondary/PZO1113-Secondary.jpg')
  background-position center

  .page-title
    text-align center 
    padding 20px
    text-transform uppercase
    color white

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
