<!-- Display all player skills... for now? -->

<table class="striped">
    <thead>
        <tr>
            <th>
                Character
            </th>
            <th *ngFor="let skill of skills">
                {{skill}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
            <td>
                {{player.name}}
            </td>
            <td *ngFor="let skill of skills">
                {{player[skill]}}
            </td>
        </tr>
    </tbody>
</table>

<!-- Select skill you want to roll -->
<mat-form-field>
    <mat-select placeholder="Select Skill">
        <mat-option *ngFor="let skill of skills" [value]="selectedSkill">
            {{skill}}
        </mat-option>
    </mat-select>
</mat-form-field>

Skill: {{selectedSkill}}
