<!-- Display all player skills... for now? -->

<div class="grid"
     style="--cols-xl: 8">
  <div style="--col-xl: span 4">
    <mat-table  class="co-bg-content" [dataSource]="playerDataSource">

      <ng-container matColumnDef="characterName">
        <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="skill">
        <mat-header-cell *matHeaderCellDef> {{(selectedSkill | titlecase) || "Select a Skill"}} </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.skills[selectedSkill]}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <mat-header-cell *matHeaderCellDef> Modifier
          <button mat-raised-button
              (click)="clearModifier(players)"
              color="warn"
              >Clear<i class="material-icons">clear</i></button>
        </mat-header-cell>
        <mat-cell *matCellDef="let player">
          <mat-form-field>
            <input matInput
                   type="number"
                   [(ngModel)]="player.modifier" />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['characterName', 'skill', 'modifier']"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: ['characterName', 'skill', 'modifier']"></mat-row>

    </mat-table>
  </div>

  <div class="select-skill" style="--col-xl: span 1;">
    <mat-form-field>
      <mat-select placeholder="Select Skill"
                  [(value)]="selectedSkill">
        <mat-option *ngFor="let skill of skills.list"
                    value="{{skill}}">
          {{skill | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedSkill">
        <div>
          Set Target:
          <mat-form-field>
            <input matInput
                   type="number"
                   [(ngModel)]="target" />
          </mat-form-field>
        </div>
        <div>
          <button  mat-raised-button
                  (click)="rollDataSource.data = doCheck(players, selectedSkill, skills.die, target)"
                  mat-raised-button
                  color="primary">
                    Roll
          </button>
        </div>
    </div>
  </div>
  <div style="--col-xl: span 3;">
    <mat-table
        class="co-bg-content"
        *ngIf="rollDataSource.data.length"
        [dataSource]="rollDataSource">

      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let result"> <i class="material-icons">{{result.icon}}</i> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="characterName">
        <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.characterName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roll">
        <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.roll}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['icon', 'characterName', 'roll']"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: ['icon', 'characterName', 'roll']"></mat-row>

    </mat-table>
  </div>
</div>
