<div class="row content-module">
  <div class="sidebar  lime darken-2">
    <ul class="tool-list">
      <li *ngFor="let tool of toolList">
        <a mat-fab
                routerLink="{{tool.route}}"
                matTooltip="{{tool.name}}"
                matTooltipPosition="right"
                class="tool-button"
                color="primary">
                <i class="material-icons">{{tool.icon}}</i>
            </a>

      </li>
    </ul>
  </div>
  <div class="content row lime lighten-4">
    <router-outlet></router-outlet>
  </div>
</div>
