.co-pri {
    color: $trinidad;
}

.co-sec {
    color: $lavendar;
}

.co-neg {
    color: $pomegranate-bruise;
}

.co-bg-sidebar {
    background-color: $dingley;
}

.co-focus {
    background-color: $sprig;
}

.co-bg-content {
    background-color: $parchment;
}
